<p>Hi... I&#39;m Hazmi a.k.a Abu Ahyar, I&#39;m just an ordinary person who really enjoys coding.<br>
My education background is in Analytical Chemistry.<br>
I acquired my IT knowledges from Youtube, Stack Overflow, and various coding forums and communities.<br>
Consistent practice is my key to strengthening my skills.<br>
I enjoy sharing and collaborating with others, as it contributes to continuous improvement for all involved.<br></p>
<br>

<h2 class="text-2xl py-3"><strong>My Skills</strong></h2>
<p>📱 Mobile Development (Flutter) 
<br>🌎 Fullstack Web Development using PHP and Javascript (Codeigniter, Laravel, Astro JS, etc.)
<br>🏢 Advance level in Ms. Office (Excel and Access)
<br>📊 Basic Data Analysis Practitioner (Python Pandas)
<br></p>