---
import { SITE } from "@config";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "./Layout.astro";
//
import AboutMe from '@components/about-me.html';

---

<Layout title={`${'It\'s Me'} | ${SITE.title}`}>
  <Header activeNav="about" />
  <Breadcrumbs />
  <main id="main-content">
    <section id="about">
      <!-- <p class="text-4xl mt-3 mb-2 font-semibold">Assalaamu'alaykum...</p> -->
      <h1 class="text-4xl mt-3 mb-2 font-semibold">It's Me</h1>
      <AboutMe />
    </section>
  </main>
  <Footer />
</Layout>
